<li class='<%= current_page.last? ? "disabled" : "" %>'>
  <%=
    link_to_unless(current_page.last?, t('views.pagination.last').html_safe, url, remote: remote) do |name|
      link_to(name, '#', remote: remote)
    end
  %>
</li>
